@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --bg: #f8fafc;
  --panel: #ffffff;
  --muted: #6b7280;
  --text: #0f172a;
}
.dark{
  --bg: #0b1220;
  --panel: #071228;
  --muted: #94a3b8;
  --text: #e6eef8;
}
body{ background: var(--bg); color: var(--text); }
